<span class="remove">X</span>
<textarea class="input">{{ content }}</textarea><br>
<button class="evaluate">Evaluate</button>
<div class="output" style="display:none">
  <div class="output-heading">Output:</div>
  <div class="output-body"></div>
</div>
