<p>
  Use the <span class="pre">+Code</span> and
  <span class="pre">+Note</span> buttons to create code sections or note
  sections.
</p>

<p>
  Write your JS code into the text area of code sections. Evaluate your
  code by clicking <span class="pre">Evaluate</span>. Use the
  <span class="pre">this.p()</span> function to print results to the code
  section's output. Yes, this is terrible, but we will fix it.
</p>

<p>
  Click on a note section to edit it. Save or cancel your changes.
</p>

<p>
  There are also several keyboard shortcuts available.
</p>
