<table class="key-bindings-table">
  <tbody>
    <tr>
      <td><span class="pre">Shift-C</span></td>
      <td>New Code Section</td>
    </tr>
    <tr>
      <td><span class="pre">Shift-N</span></td>
      <td>New Note Section</td>
    </tr>
    <tr>
      <td><span class="pre">Shift-Enter</span></td>
      <td>Evaluate Code / Save Note</td>
    </tr>
  </tbody>
</table>
