<!DOCTYPE html>
<html>
<head>
  <title>LearnJsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <template id="code-section-template">
    <span class="remove">X</span>
    <textarea class="input"></textarea><br>
    <button class="evaluate">Evaluate</button>
    <div class="output" style="display:none">
      <div class="output-heading">Output:</div>
      <div class="output-body"></div>
    </div>
  </template>

  <template id="note-template">
    <span class="remove">X</span>
    <p class="note">{{ content }}</p>
  </template>

  <template id="edit-note-template">
    <span class="remove">X</span>
    <textarea class="edit-note">{{content}}</textarea>
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </template>

  <template id="how-to-template">
    <p>
      Use the <span class="pre">+Code</span> and
      <span class="pre">+Note</span> buttons to create code sections or note
      sections.
    </p>

    <p>
      Write your JS code into the text area of code sections. Evaluate your
      code by clicking <span class="pre">Evaluate</span>. Use the
      <span class="pre">this.p()</span> function to print results to the code
      section's output. Yes, this is terrible, but we will fix it.
    </p>

    <p>
      Click on a note section to edit it. Save or cancel your changes.
    </p>

    <p>
      There are also several keyboard shortcuts available.
    </p>
  </template>

    <template id="key-bindings-template">

      <table class="key-bindings-table">
        <tbody>
          <tr>
            <td><span class="pre">Shift-C</span></td>
            <td>New Code Section</td>
          </tr>
          <tr>
            <td><span class="pre">Shift-N</span></td>
            <td>New Note Section</td>
          </tr>
          <tr>
            <td><span class="pre">Shift-Enter</span></td>
            <td>Evaluate Code / Save Note</td>
          </tr>
        </tbody>
      </table>

    </template>

</head>
<body>

<h1>Learn JS</h1>
<div id="hud">
  <li class="show-instructions">Instructions</li>
  <div class="instructions">
    <div class="inner-modal">
      <div class="tabs">
        <li class="show-how-to">How To</li>
        <li class="show-key-bindings">Key Bindings</li>
      </div>
      <div class="content"></div>
    </div>
  </div>
</div>

<div id="container">
  <div class="notebook"></div>
  <div class="controls">
    <button class="new-code-section">+ Code</button>
    <button class="new-note-section">+ Note</button>
  </div>
</div>

</body>
</html>
